@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #111;
  scroll-behavior: smooth;
}


.roteteLoading {
  animation: rotateLoadingAnimate 0.6s infinite ease-in linear;
}


@keyframes rotateLoadingAnimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


